@model PurrfectBlog.Web.Models.BlogPost

@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <article>
            <header class="mb-4">
                <h1 class="fw-bold mb-3">@Model.Title</h1>
                <div class="text-muted fst-italic mb-2">
                    Posted on @Model.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
                </div>
                    @if (!string.IsNullOrEmpty(Model.Category))
                    {
                        <div>
                            <span class="badge bg-info text-dark ms-2">@Model.Category</span>
                        </div> 
                    }
            </header>

            <section class="mb-5">
                <p class="fs-5 lh-base" style="white-space: pre-wrap;">@Model.Content</p>
            </section>
        </article>

        <div class="mt-5 border-top pt-3">
            <a asp-action="Index" class="btn btn-outline-secondary">&larr; Back to List</a>
        </div>
    </div>
</div>
